{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Crypto News Today</h1>
    <br/>
  <p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News!</p>
  <hr class="my-4">
  <p>All the source comes from CryptoCompare API</p>
  <a class="btn btn-secondary btn-sm" href="https://www.cryptocompare.com/" role="button">Go To CrypotoCompare</a>
</div>

<br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Open Price</th>
        <th scope="col">24h High</th>
        <th scope="col">24h Low</th>
    </tr>
  </thead>
  <tbody>
    {% for key,value in price.DISPLAY.items %}


        <tr>
            <td>{{ key }}</td>
            <td>{{ value.USD.PRICE }}</td>
            <td>{{ value.USD.OPENDAY }}</td>
            <td>{{ value.USD.HIGHDAY }}</td>
            <td>{{ value.USD.LOWDAY }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<br/>


<div class="container">
    <div class="row">
        {% for x in api.Data %}
            <div class="col-sm">
                <div class="card " style="width: 18rem;">
                  <img src="{{ x.imageurl }}" class="card-img-top" alt="{{ x.source }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <p class="card-text">{{ x.body }}</p>
                    <a href="{{ x.url }}" class="btn btn-secondary">Read More...</a>
                  </div>
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}